
/*Tablet dai 768px fino a 991px*/
@media screen and (min-width: 768px) {
    .container{
        margin: 10px 40px;
    } 
    h1{
        text-align: left;
        padding: 20px;
    }

    #traditional{
        display: contents;
    }







    .faq-card li{
        flex-basis: calc(100% / 5);
    }
  }
  
 /*Desktop da 992px in poi */
  @media screen and (min-width: 992px) {
    .container{
    } 
    h1{
        text-align: left;
        padding: 20px;
    } 
}
